.spinner{
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}